.searchBar {
    align-items: center;
    background-color: #ffe600;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr auto;
    padding: 5px 10px;
    width: 100%;
}

.searchBar img {
    height: 24px;
    width: 24px;
}

.searchBar input {
    max-width: calc(100% - 60px);
    justify-self: center;
}

.searchBar button {
    background: none;
    border: none;
    cursor: pointer;
}