.searchBar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: stretch;
    background-color: #ffe600;
    padding: 10px 60px;
    width: 100%;
}

.searchBar img {
    margin-right: 15px;
}

.searchBar input {
    padding: 5px;
    height: 100%;
}

.searchBar button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
