.card-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card-detail__image {
  grid-column: span 1;
}

.card-detail__info {
  grid-column: span 1;
}

.card-detail__description {
  grid-column: span 2;
  margin-top: 32px;
}
