.short-button{
    border: none;
    background-color: #EEEEEE;
    cursor: pointer;
    height: 100%;
    display: flex;
    min-width: 36px;

    img {
        width: 18px;
        height: auto;
        margin-right: 0px!important;
    }
}

