.textCategories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 0;
  gap: 4px;
  width: 100%;
  max-width: 1200px;
}

.categoryItem {
  display: flex;
  align-items: center;
}

.separator {
  color: var(--textDetail);
  margin: 0 4px;
}
