.card {
  display: flex;
  align-items: flex-start;
  gap: 16px; /* Mantiene el espacio de 16px entre imagen y contenido */
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  cursor: pointer;
}

.imageContainer {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espacio entre los elementos internos */
  flex: 1;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 32px; /* Incrementa el espacio entre precio e ícono */
}