.card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0;
  padding: 16px;
  gap: 16px;
  width: 100%;
  cursor: pointer;
}


.imageContainer {
  flex-shrink: 0; /* Evita que la imagen cambie de tamaño */
}


.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}


.cityContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  margin-top: 24px;
}